/**
 * General overrides to play nice with admin theme
 */

.page-admin select[multiple] {
  min-width: 300px;
  max-width: 500px;
}

.page-admin .select2-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-admin .select2-container .select2-search--inline .select2-search__field {
  margin-top: 8px;
}